/* jash的地圖css */
#svg1216 {
  width: auto;
  height: 80%;
}

svg path {
  fill: #c0ffd9;
  stroke: #000000;
  stroke-width: 2;
}

svg path:hover {
  fill: #0f893e;
  transition: 0.6s;
}

#path39,
#path41 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 10;
}

#path39:hover,
#path41:hover {
  fill: #98c9f0;
  stroke: #000000;
  transition: 0.6s;
}
